@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');

body {
    /* background */
    background: #757f9a;
    background: -webkit-linear-gradient(to right, #757f9a, #d7dde8);
    background: linear-gradient(to right, #757f9a, #d7dde8) no-repeat center center fixed;

    /* fonts */
    font-family: 'Krona One', Arial, Helvetica, sans-serif;
}

/* Login page - Whiteboard.jsx */

.login {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.logo {
  display: block;
  width: 300px;
  margin: 10px auto;
}

#login-form {
    text-align: center;
    display: grid;
}

#login-form > * {
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}

#login-form > *:focus {
    outline: none;
}

#login-form > h1 {
    font-size: 40px;
}

#login-form > button {
    margin: 10px;
    background-color: lightgray;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#login-form > button:hover {
    background-color: #585858;
}

#login-form > button:active {
    box-shadow: 0 1px #585858;
    transform: translateY(1px);
}

#login-form > span {
    font-size: 24px;
}

/* General */

.error {
    color: #c02739;
    text-align: center;
    display: block;
}

.color {
    display: inline-block;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.green {
    background-color: green;
}

.gray {
    background-color: gray;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}